<div class="container">
 <ul class="list-inline">
    <li><a href="#">mentions légales</a></li>
    <li><a href="#">plan du site</a></li>
    <li>onrek <i class="fa fa-copyright"></i> 2015</li>
</ul>
<ul class="list-unstyled list-site">
  <li><a href="htttp://www.snmkr.fr"><img src="images/logo-snmkr.jpg" height="40" width="40" alt="snmkr"></a><br><small>snmkr</small></li>
  <li><a href="htttp://www.snmkr.fr"><img src="images/logo-apek.jpg" height="40" width="40" alt="apek"></a><br><small>apek</small></li>
  <li><a href="htttp://www.snmkr.fr"><img src="images/logo-ujmk.jpg" height="40" width="40" alt="ujmk"></a><br><small>ujmk</small></li>
  <li><a href="htttp://www.snmkr.fr"><img src="images/logo-umko.jpg" height="40" width="40" alt="umko"></a><br><small>umko</small></li>
</ul>
</div>
